#categories-dd-container{
    background-color: white;
    position: absolute;
    top: 12em;
    border: 1px solid #838383;
    border-radius: 5px;
    box-shadow: 0 0 0.15rem #838383;
    z-index: 1;
}
#categories-dd-container ul li{
    list-style-type: none;
    padding: 10px 25px 10px 25px;
}
#categories-dd-container ul li a{
    font-size: 0.7em;
    font-weight: 400;
    text-decoration: none;
    color: #383838;
}
.fashion{
    left: 20em;
}
.electronics{
    left: 30em;
}
.home-furniture{
    left: 40em;
}
.beauty-toys{
    left: 66em;
}
.two-wheelers{
    left: 80em;
}