.cstmr-sprt-dd-container{
    position: absolute;
    right: 2em;
    top: 3.3em;
    width: 300px;
    box-shadow: 0 0 0.15rem;
    border-radius: 5px;
    background-color: #fff;
}
.cstmr-sprt-dd-container ul li{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px;
}
.cstmr-sprt-dd-container ul li:hover{
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}
.cstmr-sprt-dd-container a{
    color: inherit;
    text-decoration: none;
}